<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dance schools</title>
</head>
<body>

<h1>Dance schools</h1>
<a href="/admin">Back</a>
<p>{{ error_message|default_if_none:"" }}</p>

<ul>
    {% for school in schools %}
        <li>
            {{ school.name }}
            <button onclick="showEditForm('{{ school.id }}')">Изменить</button>

            <form method="post" action="/admin/delete_school/{{ school.id }}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Удалить</button>
            </form>

            <div id="edit-form-{{ school.id }}" style="display:none;">
                <form method="post" action="/admin/edit_school/{{ school.id }}">
                    {% csrf_token %}
                    {{ school.address }}, {{ school.phone_number }}
                    {{ edit_school_form }}
                    <input type="submit" value="Submit" style="display: inline">
                </form>
            </div>

        </li>
    {% empty %}
        <p>Школы отсутствуют</p>
    {% endfor %}
</ul>

<button onclick="showAddForm()">Add school</button>
<div id="add-form" style="display:none;">
    <form method="post" action="/admin/add_school">
        {% csrf_token %}
        {{ school_form }}
        <input type="submit" value="Submit" style="display: inline">
    </form>
</div>

<script>

    function showEditForm(choreographerId) {
        let form = document.getElementById('edit-form-' + choreographerId);
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
    }

    function showAddForm() {
        let form = document.getElementById('add-form');
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
    }

</script>

</body>
</html>