<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список классов</title>
</head>
<body>
    <h1>Список классов</h1>
    <ul>
        {% for class_item in classes %}
            <li>{{ class_item.name }}</li>
        {% empty %}
            <li>Классы отсутствуют</li>
        {% endfor %}
    </ul>
    {% comment %}
    <button onclick="location.href='{% url 'add_class' %}'">Добавить класс</button>
    {% endcomment %}
</body>
</html>